In [1]:
#1. Determine if a given letter is uppercase, lowercase, or neither.

letter = "5"
if letter.isupper():
    print("Uppercase letter")

elif letter.islower():
    print("Lowercase letter")
else:
    print("Neither uppercase nor lowercase latter")

Neither uppercase nor lowercase latter

In [2]:
2+3

5

In [3]:
#2. Check if a character is a digit
char = "apple"

if char.isdigit():
    print("Character is a digit")
else:
    print("Not a digit")

Not a digit

In [4]:
#3. Write a function that counts the frequency of each word in this sentence:
#sentence = "Data science is fun and data is powerful"
# Excepted output {'data': 2, 'science': 1, 'is': 2, 'fun': 1, 'and': 1, 'powerful': 1}

def freq(sentence):
    words = sentence.split()
    frequency = {}
    for word in words:
        word = word.lower()
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1
    return frequency

In [5]:
sentence = "Data science is fun and data is powerful"
freq(sentence)

{'data': 2, 'science': 1, 'is': 2, 'fun': 1, 'and': 1, 'powerful': 1}

In [6]:
#4. Without using loops, create a NumPy array of shape (4,4) with values from 1 to 16, and then extract the second column.
import numpy as np
np.arange(1,17).reshape(4,4)[:,1]

array([ 2,  6, 10, 14])

In [7]:
#5. What is wrong with this code?
#list = [1, 2, 3]
#print(list[3])
#(Give the error name + why it happens)

IndexError. We are trying to call the element that is not present in the list. The list range is only from 0 to 2.

In [8]:
#6.Write code to create a new column called "Performance" where: Sales > 1000 → "High"else → "Low"
import pandas as pd
df = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'D'],
    'Sales': [500, 1500, 200, 3000]
})

In [9]:
df['performance'] = df['Sales'].apply(lambda x: 'high' if x>1000 else 'low')

In [10]:
df

  Product  Sales performance
0       A    500         low
1       B   1500        high
2       C    200         low
3       D   3000        high

In [11]:
#7. Write Python code to find the maximum salary in each department.
df = pd.DataFrame({
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR'],
    'Salary': [30000, 50000, 45000, 60000, 35000]
})

In [12]:
df.groupby('Department')['Salary'].max()

Department
Finance    45000
HR         35000
IT         60000
Name: Salary, dtype: int64

In [13]:
#8. Create a NumPy array with 100 random integers between 1 and 100.
#Find its mean, median, and standard deviation without using loops.

arr = np.random.randint(1,100,100)
np.mean(arr),np.median(arr),np.std(arr)

(49.15, 51.0, 28.735822591323185)

In [14]:
#9. Write code to:
#Count how many missing values are in each column.
#Fill missing ages with the mean age and missing scores with the median score.
df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Age': [23, None, 29, None],
    'Score': [90, 85, None, 95]
})

In [15]:
df.isnull().sum()

Name     0
Age      2
Score    1
dtype: int64

In [16]:
df['Age'].fillna(df['Age'].mean(),inplace= True)
df['Score'].fillna(df['Score'].median(),inplace = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_1976\1096274921.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace= True)
C:\Users\hp\AppData\Local\Temp\ipykernel_1976\1096274921.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Score'].fillna(df['Score'].median(),inplace = True)

In [17]:
#10. You are given a dictionary of student scores:
scores = {'Ritika': 88, 'Aaditya': 95, 'Rahul': 72, 'Sunil': 91}
#Write code to print the names of students sorted by their scores in descending order.

In [18]:
sorted(scores.items(),key = lambda x : x[1],reverse = True)

[('Aaditya', 95), ('Sunil', 91), ('Ritika', 88), ('Rahul', 72)]